.cursor-glow {
  position: absolute;
  width: 600px;
  height: 600px;

  left: 50%;
  top: 50%;

  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;

  background: radial-gradient(circle, rgba(255, 90, 20, 0.22), transparent 70%);

  filter: blur(120px);
  will-change: left, top;

  z-index: 0;
}
